<div class="main-page">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="panel panel-default widget-shadow">
                <div class="panel-heading text-center">
                    Inicio
                </div>
                <div class="panel-body">
                    <div class="table-scroll scrollbar1">
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation" ng-class="{'active':ctrl.menu=='Morosidad'}">
                                <a href="#" ng-click="ctrl.menu='Morosidad'">Morosidad</a>
                            </li>
                        </ul>
                        <br>
                        <div ng-if="ctrl.menu=='Morosidad'">
                            <div class="col-sm-6">
                                <strong class="text-center">Créditos</strong>
                                <div class="chart-container col-sm-6" style="position: relative">
                                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="ctrl.Morosidad.data" chart-options="ctrl.Morosidad.options" chart-colors="ctrl.Morosidad.colors" chart-labels="ctrl.Morosidad.labels"></canvas>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            Activo: {{ctrl.Morosidad.Activo.porcentaje|number:2}}%
                                            <span class="badge badge-success">
                                                {{ctrl.Morosidad.Activo.total}}
                                        </span>
                                        </li>
                                        <li class="list-group-item">
                                            Vencido: {{ctrl.Morosidad.Vencido.porcentaje|number:2}}%
                                            <span class="badge badge-warning">
                                                {{ctrl.Morosidad.Vencido.total}}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            Fuera de Gracia: {{ctrl.Morosidad.Gracia.porcentaje|number:2}}%
                                            <span class="badge badge-danger">
                                                {{ctrl.Morosidad.Gracia.total}}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <strong class="text-center">Cartera</strong>
                                <div class="chart-container col-sm-6" style="position: relative">
                                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="ctrl.Morosidad.datacartera" chart-options="ctrl.Morosidad.options" chart-colors="ctrl.Morosidad.colors" chart-labels="ctrl.Morosidad.labels"></canvas>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            Activo: {{ctrl.Morosidad.Activo.cartera|number:2}}$
                                            <span class="badge badge-success">
                                                {{ctrl.Morosidad.Activo.carteraporcentaje|number:2}}%
                                        </span>
                                        </li>
                                        <li class="list-group-item">
                                            Vencido: {{ctrl.Morosidad.Vencido.cartera|number:2}}$
                                            <span class="badge badge-warning">
                                                {{ctrl.Morosidad.Vencido.carteraporcentaje|number:2}}%
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            Fuera de Gracia: {{ctrl.Morosidad.Gracia.cartera|number:2}}$
                                            <span class="badge badge-danger">
                                                {{ctrl.Morosidad.Gracia.carteraporcentaje|number:2}}%
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>