<div class="main-page">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="panel panel-default widget-shadow">
                <div class="panel-heading text-center">
                    Inicio
                </div>

                <div class="panel-body">
                    <div class="table-scroll scrollbar1 row">
                        <div>
                            <ul class="nav nav-pills nav-justified">
                                <li>
                                    <a href="#" ng-click="menu='Morosidad'">Morosidad</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="menu='Margen Financiero'">Margen Financiero</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="menu='Ingreso Neto'">Ingreso Neto</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="menu='Cartera Promedio'">Cartera Promedio</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="menu='Deuda Promedio'">Deuda Promedio</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div class="form-group col-sm-5">
                                <label for="startDate">
                                    Fecha Inicial
                                </label>
                                <datepicker id="startDate" date-format="yyyy-MM-dd" date-max-limit="{{DateNow}}" selector="form-control" class="form-group" style="padding: 5px 5px 5px 5px;margin: 0 0 0 0">
                                    <input class="form-control" type="date" ng-model="startDate" readonly>
                                </datepicker>
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="endDate">
                                    Fecha Final
                                </label>
                                <datepicker id="endDate" date-format="yyyy-MM-dd" date-max-limit="{{DateNow}}" selector="form-control" class="form-group" style="padding: 5px 5px 5px 5px;margin: 0 0 0 0">
                                    <input class="form-control" type="date" ng-model="endDate" readonly>
                                </datepicker>
                            </div>
                            <div class="form-group col-sm-2">
                                <a class="btn btn-default fontSmall" style="height:auto" ng-click="doIt()"><i
                                        class="material-icons">search</i></a>
                            </div>
                        </div>

                        <div ng-if="menu=='Morosidad'" class="margin-top">
                            <div class="col-sm-6">
                                <div class="chart-container col-sm-6">

                                    <canvas id="morosidad-barra"  class="chart chart-doughnut"
                                            chart-data="Morosidad.doughnutData" chart-options="Morosidad.options"
                                            chart-colors="Morosidad.colors" chart-labels="Morosidad.labels">
                                    </canvas>
                                </div>
                                <div class="col-sm-6">
                                    <strong class="text-center">Morosidad</strong>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            Activo: {{Morosidad.Activo.cartera|number:2}}$
                                            <span class="badge badge-success">
                                                {{Morosidad.Activo.carteraporcentaje|number:2}}%
                                        </span>
                                        </li>
                                        <li class="list-group-item">
                                            Vencido: {{Morosidad.Vencido.cartera|number:2}}$
                                            <span class="badge badge-warning">
                                                {{Morosidad.Vencido.carteraporcentaje|number:2}}%
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            Fuera de Gracia: {{Morosidad.Gracia.cartera|number:2}}$
                                            <span class="badge badge-danger">
                                                {{Morosidad.Gracia.carteraporcentaje|number:2}}%
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="chart-container" style="">
                                    <canvas id="morosidad-line"  class="chart chart-line" chart-series="Morosidad.lineSeries"
                                            chart-data="Morosidad.lineData" chart-options="Morosidad.lineOptions"
                                            chart-colors="Morosidad.lineColors" chart-labels="Morosidad.lineLabels"
                                            chart-dataset-override="Morosidad.datasetOverride">
                                    </canvas>
                                </div>
                            </div>



                        </div>
                        <div ng-if="menu=='Ingreso Neto'" class="col-sm-8 col-sm-push-2  margin-top">

                            <div class="chart-container" style="position: relative">
                                <canvas id="interest" class="chart chart-bar" chart-data="Intereses.data"
                                        chart-options="Intereses.options" chart-colors="Intereses.colors"
                                        chart-labels="Intereses.labels" chart-series="Intereses.series"></canvas>
                            </div>
                        </div>
                        <div ng-if="menu=='Cartera Promedio'" class="col-sm-12  margin-top">

                            <div class="col-sm-6">
                                <div class="chart-container" style="">
                                    <canvas id="wallet"  class="chart chart-bar" chart-data="Cartera.data"
                                            chart-options="Cartera.options" chart-colors="Cartera.colors"
                                            chart-labels="Cartera.labels"></canvas>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="chart-container" style="">
                                    <canvas id="walletDoughnut" class="chart chart-doughnut" chart-data="Cartera.doughnutData"
                                            chart-options="Cartera.options" chart-colors="Cartera.colors"
                                            chart-labels="Cartera.doughnutLabels"></canvas>
                                </div>
                            </div>
                        </div>
                        <div ng-if="menu=='Deuda Promedio'" class="col-sm-12 margin-top">
                            <div class="col-sm-6">
                                <div class="chart-container" style="position: relative">
                                    <canvas id="borrow" class="chart chart-bar" chart-data="Deuda.data"
                                            chart-options="Deuda.options" chart-colors="Deuda.colors"
                                            chart-labels="Deuda.labels"></canvas>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="chart-container" style="position: relative">
                                    <canvas id="borrowDoughnut" class="chart chart-doughnut" chart-data="Deuda.data"
                                            chart-options="Deuda.options" chart-colors="Deuda.colors"
                                            chart-labels="Deuda.labels"></canvas>
                                </div>
                            </div>

                        </div>
                        <div ng-if="menu=='Margen Financiero'" class="col-sm-8 col-sm-push-2  margin-top">

                            <div class="chart-container" style="position: relative">
                                <canvas id="margin" class="chart chart-line" chart-data="Margen.data"
                                        chart-options="Margen.options" chart-colors="Margen.colors"
                                        chart-labels="Margen.labels" chart-series="Margen.series">
                                </canvas>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>