<div id="modalDisposicion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Disposición</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-bordered">
                    <tbody>
                    <tr>
                        <th>Capital</th>
                        <td>
                            <div class="form-group">
                                <input class="form-control" format="number" ng-model="ctrl.Disposicion.amount" >
                            </div>
                        </td>
                        <th>Fecha</th>
                        <td>
                            <datepicker date-format="yyyy-MM-dd" date-min-limit="{{ctrl.DateMin}}" date-max-limit="{{ctrl.DateNow}}" selector="form-control" class="form-group" style="padding: 5px 5px 5px 5px;margin: 0 0 0 0">
                                <input class="form-control" type="date" ng-model="ctrl.Disposicion.start_date" readonly aria-readonly="true">
                            </datepicker>
                        </td>
                    </tr>
                    <tr>
                        <th>Comentario</th>
                        <td colspan="3">
                            <div class="form-group">
                                <textarea class="form-control" ng-model="ctrl.Disposicion.todo" style="max-width: 400px"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr style="padding: 0;margin: 0">
                        <td colspan="4" class="text-center" style="padding: 5px 5px 5px 5px;margin: 0 0 0 0">
                            Arrastra tu comprobante(s) o haz click.
                            <div id="dropzone" style="height: 100px">
                                <div>
                                    <br>
                                    <i class="material-icons rotate-180" style="font-size: 50px">system_update_alt</i>
                                </div>
                                <input type="file" ngf-select="ctrl.AddFileDisposicion($file)" style="width: 100%" />
                            </div>
                            <div class="row">
                                <h4 class="label label-default" ng-repeat="file in modalpay.file" style="margin: 5px;float: left;">{{file.name}}
                                    <button type="button" class="close" aria-label="Close" style="margin-left: 5px;:" ng-click="deleteFile($index)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </h4>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <span class="label label-default">
                        Cantidad Disponible: {{ctrl.diferencia|currency}}
                    </span>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-default" ng-click="ctrl.insertDisposicion()" ng-disabled="ctrl.diferencia<=ctrl.Disposicion.amount">
                        Agregar
                        <span ng-show="ctrl.diferencia<=ctrl.Disposicion.amount"
                              class="label label-danger">Cantidad exedente.</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>