<div class="main-page">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="panel panel-default widget-shadow">
                <div class="panel-heading text-center" style="overflow:hidden">
                    <h3>
                        <p align="left" style="float:left">
                            Cliente: {{clientname}}
                        </p>
                    </h3>
                    <h3>
                        <p align="right" style="float:right">
                            Proyecto: {{projectname}}
                        </p>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="table-scroll scrollbar1">
                        <ul class="nav nav-pills nav-justified">
                            <li id ='showtab' role="presentation" class="active">
                                <a href="#" ng-click="menu='show'">Historial Analisis</a>
                            </li>
                            <li id ='createtab' role="presentation">
                                <a id ='createbutton' href="#" ng-click="prepararAnalisis()">Nuevo Analisis</a>
                            </li>
                        </ul>
                        <br>
                        <div class="col-sm-12">
                            <div name="application" ng-show="menu=='show'">
                                <header>Historial de analisis</header>
                                <div class="panel-group" id="accordion" class="visible-scrollbar">
                                    <div class="panel panel-default" ng-repeat="data in response track by $index">
                                        <div class="panel-heading" style="cursor: pointer" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">
                                                <a id="list{{$index}}" class="text-left" data-toggle="collapse" data-parent="#accordion" href='#collapse{{$index}}' onclick="return false;">{{data.show_date}}</a>
                                            <div class="col-sm-6 text-right pull-right">
                                                <a class="btn btn-default" ng-click="cargarAnalisis(data.analysisid)">
                                                    <i class="material-icons">mode_edit</i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapse{{$index}}" class="panel-collapse panel-body collapse">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6" >
                                                    <textarea type="text"  style="height:150px;width:100%;resize:none" class="form-control">{{data.observacion}}</textarea>
                                                </div>
                                                <!--
                                                <div class="col-sm-6" ng-if="data.files.length > 4">
                                                    <textarea type="text"  style="width:100%;resize:auto" class="form-control">{{data.observacion}}</textarea>
                                                </div>
                                                !-->
                                                <div class="col-sm-6">
                                                    <div ng-if="data.files.length == 0">
                                                        No hay archivos.
                                                    </div>
                                                        <ul class="list-group">
                                                            <li style="cursor: pointer" ng-repeat="file in data.files track by $index" ng-click="DownloadFile(file.id)" class="list-group-item">
                                                                <a>{{file.name}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form name="files" ng-show="menu=='create'">

                                <div class="form-group col-lg-6">
                                    <label for="startDate">
                                        Fecha Inicial
                                    </label>
                                    <datepicker id="startDate" date-format="yyyy-MM-dd" selector="form-control" class="form-group" style="padding: 5px 5px 5px 5px;margin: 0 0 0 0">
                                        <input class="form-control" type="date" ng-model="startDate" readonly>
                                    </datepicker>
                                </div>
                                <div>
                                    Observaciones
                                </div>
                                <div class="col-lg-6" ng-show="analisisid==null">
                                    <div class="input-group">
                                        <textarea type="text"  style="height:150px;width:100%;resize:none" class="form-control" ng-model="observacion" placeholder="Agregar Observacion..."></textarea>

                                        <span class="input-group-btn">
                                            <button style="height:150px"class="btn btn-secondary"
                                                    ng-disabled="observacion=='' || startDate==null" ng-click="agregarAnalisis()"
                                                    type="button">Agregar</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-lg-12" ng-show="analisisid">
                                    <div class="input-group">
                                        <textarea type="text" style="height:150px;width:100%;resize:none" class="form-control" ng-model="observacion" placeholder="Agregar Observacion..."></textarea>
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary"
                                                    ng-disabled="observacion==''" ng-click="actualizarAnalisis()"
                                                    style="height:150px" type="button">Actualizar</button>
                                        </span>
                                    </div>
                                </div>
                                <table ng-show="analisisid != null" class="table table-bordered">
                                    <tr style="padding: 0;margin: 0">
                                        <td colspan="4" class="text-center" style="padding: 5px 5px 5px 5px;margin: 0 0 0 0">
                                            Arrastra el archivo(s) o haz click.
                                            <div id="dropzone" style="height: 100px">
                                                <div>
                                                    <br>
                                                    <i class="material-icons rotate-180" style="font-size: 50px">system_update_alt</i>
                                                </div>
                                                <input type="file" ngf-select="addFile($file)" style="width: 100%" />
                                            </div>
                                            <div class="row">
                                                <h4 class="label label-default" ng-repeat="obj in files" style="color:black; margin: 5px;float: left;">{{obj.file.name}}
                                                    <button type="button" class="close" aria-label="Close" style="margin-left: 5px;:" ng-click="deleteFile($index)">
                                                        <span aria-hidden="true">&times; </span>
                                                    </button>
                                                </h4>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("ul.nav.nav-pills li").click(function(evt) {
            $("ul.nav.nav-pills li").removeClass('active')
            $(this).addClass('active')
        })
    });
</script>