<div id="modalCondicion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Condición</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-bordered">
                    <tbody>
                    <tr>
                        <th>Capital</th>
                        <td>
                            <div class="form-group">
                                <input class="form-control" format="number" ng-disabled="CreditPadre.type!=2" ng-model="CreditPadre.amount" >
                            </div>
                        </td>
                        <th>Meses</th>
                        <td>
                            <div class="form-group">
                                <input class="form-control" format="float" ng-model="CreditPadre.term" ng-disabled="true">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Interes (%)</th>
                        <td>
                            <div class="form-group">
                                <input class="form-control" format="float" ng-model="CreditPadre.interest">
                            </div>
                        </td>
                        <th>Interes Moratorio (%)</th>
                        <td>
                            <div class="form-group">
                                <input class="form-control" format="number" ng-model="CreditPadre.interest_arrear">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>IVA (%)</th>
                        <td>
                            <div class="form-group">
                                <input class="form-control" format="float" ng-model="CreditPadre.iva">
                            </div>
                        </td>
                        <th>Fecha</th>
                        <td>
                            <datepicker date-format="yyyy-MM-dd" date-min-limit="{{lastCredit.start_date}}" date-max-limit="{{DateNow}}" selector="form-control" class="form-group" style="padding: 5px 5px 5px 5px;margin: 0 0 0 0">
                                <input type="date" class="form-control" ng-model="CreditPadre.start_date" readonly>
                            </datepicker>
                        </td>
                    </tr>
                    <tr>
                        <th>Comentario</th>
                        <td colspan="3">
                            <div class="form-group">
                                <textarea class="form-control" ng-model="CreditPadre.todo" style="max-width: 400px"></textarea>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-default" ng-click="insertCondition()">Agregar</button>
            </div>
        </div>
    </div>
</div>